/* General Body Formatting */
body {
    margin: auto;
    font-family: Georgia, "Times New Roman",
    Times, serif;
    color: black;
    background-color: #b09585;
}
body, html {
    height: 100%;
}

/* Image Formatting */
img {
    height: 200px;
    width: 300px;
    border-width: 10px;
    top: 50%;
    left: 50%;
    border-style: double;
    max-width: 100%;
}

/* Text on Cover Photo */
.coverText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #391e07;
    text-shadow: #b09585;
}

/* Cover Photo */
.coverImage {
    background-image: url("http://blog.kitchen-supreme.com/wp-content/uploads/2017/02/recipe-4.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 75%;
}

/* Navigation Bar Box*/
.navbar {
    position: absolute;
    margin: 20px;
    bottom: 0;
    right: 0;
    width: auto;
}

/* Navbar */
.topnav {
    overflow: hidden;
    background-color: #391e07;
}

/* Navigation Bar Links */
.topnav a {
    float: left;
    color: #b09585;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
ul.navbar a {
    text-decoration: none;
}

/* Navigation Bar on Hover Animation */
.topnav a:hover {
    background-color: bisque;
    color: #391e07;
}

/* Link formatting "animations" */
a:link {
    color: olive
}
a:visited {
    color: darkolivegreen
}

/* Footer banner*/
.footer {
    background-color: #391E07;
    margin-top: auto;
    color: #b09585;
    padding: 5px 0;
    text-align: center;
}

/* Introduction text on main page */
.intro {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
}

/*Coloring for table on main page */
.breakfast {
    background-color: gainsboro;
}

/*Coloring for table on main page */
.lunch {
    background-color: honeydew;
}

/*Coloring for table on main page */
.dinner {
    background-color: gainsboro;
}

/*Coloring for table on main page */
.dessert {
    background-color: honeydew;
}

/*Formatting for table on main page */
th {
    padding: 15px;
    text-align: center;
    background-color: #391e07;
    color: #b09585;
}

/*Formatting for table on main page */
td {
    padding: 10px;
    text-align: center;
}

/* List formatting */
ul {
    text-align: center;
    list-style-position: inside;
}

ul.a {
    list-style-type: circle;
}

/* Recipe listings on meal pages */
.container {
    width: 800px;
    margin: 0 auto;
    position: center;
}

.row {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 60px;
}
